<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FundManagement">
        <activity android:name=".SplashScreen"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student.Notification"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.ChnagePassword"
            android:screenOrientation="locked" />
        <activity
            android:name=".HOD.ApprovedFundsHod"
            android:screenOrientation="locked" />
        <activity
            android:name=".HOD.FundDetailsHOD"
            android:screenOrientation="locked" />
        <activity
            android:name=".HOD.VerifyFundRequest"
            android:screenOrientation="locked" />
        <activity
            android:name=".ApprovedFunds"
            android:screenOrientation="locked" />
        <activity
            android:name=".Guide.FundDetailsGuide"
            android:screenOrientation="locked" />
        <activity
            android:name=".FundDetails"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.ViewStatus"
            android:screenOrientation="locked" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.UploadImage"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.Edit_Profile"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.Prior_Request"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.Submit_Prior"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.Add_Bill"
            android:screenOrientation="locked" />
        <activity
            android:name=".Student.View_Profile"
            android:screenOrientation="locked" />
        <activity
            android:name=".HOD.HOD_Prior"
            android:screenOrientation="locked" />
        <activity
            android:name=".Guide.Prior_Request_G"
            android:screenOrientation="locked" />
        <activity
            android:name=".Guide.Document_Verify"
            android:screenOrientation="locked" />
        <activity
            android:name=".Login"
            android:screenOrientation="locked">
        </activity>
    </application>

</manifest>