<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FundManagement">
        <activity android:name=".HOD.ApprovedFundsHod" />
        <activity android:name=".HOD.FundDetailsHOD" />
        <activity android:name=".HOD.VerifyFundRequest" />
        <activity android:name=".ApprovedFunds" />
        <activity android:name=".Guide.FundDetailsGuide" />
        <activity android:name=".FundDetails" />
        <activity android:name=".Student.ViewStatus" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Student.UploadImage" />
        <activity android:name=".Student.Edit_Profile" />
        <activity android:name=".Student.Prior_Request" />
        <activity android:name=".Student.Submit_Prior" />
        <activity android:name=".Student.Add_Bill" />
        <activity android:name=".Student.View_Profile" />
        <activity android:name=".HOD.HOD_Prior" />
        <activity android:name=".Guide.Prior_Request_G" />
        <activity android:name=".Guide.Document_Verify" />
        <activity android:name=".Login"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>